// bower:sass
// endbower

@import "bourbon"
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two)

body 
  background: url(http://subtlepatterns.com/patterns/crossword.png)
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #333
  margin: 0px

.centered-wrapper
  width: 800px
  margin: 0 auto

.handwritte
  font-family: 'Shadows Into Light Two', cursive

.header
  margin: 30px 0px
  background: url(http://subtlepatterns.com/patterns/wild_oliva.png)
  box-shadow: inset  0  10px 16px -8px #020101, inset 0 -10px 16px -8px #020101
  #perceptron
    svg
      overflow: visible
    .node
      stroke: #fff
      stroke-width: 0.1px
    .link
      stroke: #999
      stroke-opacity: 0.6

  .headings
    margin: auto 50px
    color: #fff
    float: left
    h1
      font-size: 60px
      line-height: 1
      letter-spacing: -1px
      margin-bottom: 5px
    span 
      font-size: 22px
      margin-left: 20px

#data
  position: relative
  text-align:center
  .canvas
    overflow: hidden
    box-shadow: inset 0 0 16px #000
    border-radius: 15px
    width: 300px
    background-color: lightsteelblue
    border: 1px solid black
    float: left

  .line
    stroke-width: 0.1px
  .line, .node
    // let the origin be in the bottom left
    // and let it scale to range [0, 3]
    transform: translate(0px, 300px) scale(100, -100)
  #rline
    stroke: rgba(6,120,155, 0.9)
  #pline
    stroke: rgba(60,10,195, 0.9)

  .node
    stroke: white
    stroke-width: 0.02px
  .positive
    fill: #2ca02c
  .negative
    fill: #d62728
  .wrong
    fill: orange

  .input
    margin-left: 330px
    width: 330px

    .buttons
      float: left
      width: 330px
      button
        width: 49%
        background-color: #0078e7
        color: white
        font-size: 0.8em
        padding: 15px
        border-radius: 15px
        border: 0 rgba(0,0,0,0)

    h3
      text-align: center
      margin: 10px

    .commands
      text-align:center
      padding: 20px 20px 10px 20px
    input
      padding: 10px
      width: 50px

    .f
      text-align: center
      padding: 10px
      border-radius: 15px
      font-size: 20px

    #real-f
      background: rgba(6,120,155, 0.9)
      color: #fff
    #percp-f
      color: #fff
      background: rgba(60,10,195, 0.9)
    #error
      color: #fff
      background: orange

    #real-m, #percp-m, #error-percentage
      text-align: right

#sliders
  width: 300px
  position: absolute
  top: 320px
  text-align: center

  .slider
    margin: 20px auto
    width: 90%
  .value
    color: #0078e7

.browsehappy
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0
